doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/style.css")
        script(src="./scripts/script.js" defer)
        title Document
    body
        .main
            img(src="./img/bluey-trademark-white.svg", alt="")
            h2 Bonus Disc: Bluey's Big Play and more
        .image
            img(src="./img/backdrop_1.jpg", alt="f")
        .menu#bottom_menu
            .popup
                input.popup_button#bluey-big-play(type="checkbox")
                label.popup_label(for="bluey-big-play") Bluey's Big Play
                .menu_popup.flex_container
                    a(target="_blank" href="https://events.bluey.tv/") Website
                    a(target="_blank" href="#") Watch
            .popup
                input.popup_button#disney-jr-special(type="checkbox")
                label.popup_label(for="disney-jr-special") Disney Junior Special
                .menu_popup.flex_container
                    a(target="_blank" href="#") Outdoor Adventures
                    a(target="_blank" href="#") In The Garden
                    a(target="_blank" href="#") School Friends
                    a(target="_blank" href="#") Let's Dance
                    a(target="_blank" href="#") BEACCHHH!
            .popup
                input.popup_button#online-content(type="checkbox")
                label.popup_label(for="online-content") Online Content
                .menu_popup.grid_container
                    a(target="_blank" href="https://www.bluey.tv/make/bluey-fathers-day-card/") Father's day
                    a(target="_blank" href="https://www.bluey.tv/make/bluey-mothers-day-card/") Mother's day
                    a(target="_blank" href="https://www.bluey.tv/blog/blueys-joining-macys-thanksgiving-parade/") Macy's parade
                    a(target="_blank" href="https://www.bluey.tv/blog/how-to-have-a-very-merry-bluey-christmas/") Christmas
                    a(target="_blank" href="https://www.bluey.tv/blog/10-bluey-games-for-the-whole-family-to-enjoy/") Game Guides
                    a(target="_blank" href="https://www.bluey.tv/make/how-to-draw-the-heelers/") Draw the Heelers
                    a(target="_blank" href="https://www.bluey.tv/blog/bluey-behind-the-scenes/") Behind the Scenes
                    a(target="_blank" href="https://www.bluey.tv/bluey-yes-no-game/") Yes/No game
                    a(target="_blank" href="https://www.bluey.tv/blog/qa-with-joff/") Q&A with Joff Bush
            .popup
                input.popup_button#trailer-pilots(type="checkbox")
                label.popup_label(for="trailer-pilots") Trailers & Pilots
                .menu_popup.grid_container
                    .trailers
                        h4 Trailers
                        .flex_container
                            a(target="_blank" href="https://www.youtube.com/watch?v=2ZtG5Ba6iT0") Online Trailers (Disney Jr)
                            a(target="_blank" href="https://www.youtube.com/watch?v=xzbfPOs-Gys") Season 3 Trailers
                            a(target="_blank" href="https://www.youtube.com/watch?v=hYcPSMfYHG0") Bluey: The Video Game Trailer (from PlayStation)
                    .pilots
                        h4 Pilots
                        .flex_container
                            a(target="_blank" href="#") Happy Place
                            a(target="_blank" href="#") 2015
                            a(target="_blank" href="https://archive.org/details/img-0993_202302") 2016
                            a(target="_blank" href="https://archive.org/details/bluey-2017-pilot_202302") 2017
            .popup
                input.popup_button#art-gallery(type="checkbox")
                label.popup_label(for="art-gallery") Art Gallery
                .menu_popup.flex_container
                    a(target="_blank" href="#") View